body{
    font-family: 'Inter', sans-serif;
}
.logo{
    font-family: 'Edu QLD Beginner', cursive;
    font-weight: 600;
}
.top-nav{
    flex:3;
    justify-content: center;
}
.text-custom-primary{
    color: #7FBF50;
}
.bg-custom-primary{
    background-color: #7FBF50;
}
.banner-caption h1{
    font-size: 3rem;
}
.btn-custom-primary{
    background-color: #7FBF50;
    color:white;
}
.btn-custom-secondary{
    background-color: white;
    color:#7FBF50;
}
.btn-custom-secondary:hover{
    color:white;
    border-color: white;
}
.testimonial .carousel-control-next-icon{
    background-image: none;
}
.testimonial .carousel-control-prev-icon {
    background-image: none;
}
.testimonial .carousel-control-next{
    width: 40px;
    right: -20px;
}
.testimonial .carousel-control-prev{
    width:40px;
    left: -20px;
}